*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    min-width: 1000px;
    max-width: 2000px;
    font-family: 'Roboto';
}

/* Nav Bar Design */
nav{
    padding: 20px 50px;
}

ul{
    float: right;
}

nav ul li{
    display: inline-block;
    margin: 0px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #3b3b3b;    
}

/* End Nav Bar Design */

/* Start Hello Design Section */
.hello-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.half-part{
    width: 40%;
    max-width: 800px;
    padding: 20px 40px;
    margin: 0% 5% ;
}

.half-part h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: rgb(9, 2, 56);
}

.half-part h1 span{
    color: rgb(231, 78, 78);
}

.half-part p{
    color: rgb(82, 16, 0);
    padding-top: 20px ;
}

button{
    font-family: 'Fira Code', monospace;
    padding: 20px 30px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    font-weight: 500;
    color: whitesmoke;
    border: none;
    background-image: linear-gradient(35deg,rgb(235, 96, 124),rgb(247, 126, 71));
    border-radius: 10px;
    cursor: pointer;
}

button span{
    font-family: "Roboto";
}

.half-part img{
    width: 100%;
}

.hello-section{
    min-height: 500px;
    height: 80vh;
    max-height: 600px ;
    width: 100%;
}

.about-section{
    min-height: 600px;
    height: 80vh;
    max-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* End Hello Design Section */

/* Start Design Project Section */
.project-section{
    width: 100%;
    min-height: 550px;
    clear: both;
    background-color: #f8f9fc ;
}

.project-section h1{
    font-family: 'Bebas Neue', cursive;
    color:  rgb(9, 2, 56) ;
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    margin: auto 60px;
    padding: 40px;
}

.project-section span{
    color: rgb(255, 31, 2);
}

.projects-container{
    padding: 15px 0px;
    text-align: center;
}

.project-div{
    display: inline-block;
    width: 20%;
    min-width: 270px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#middle-project{
    margin: 0px 20px;
}

.project-div img{
    width: 100%;
}

.project-title span{
    color:  rgb(9, 2, 56);
}

.project-title{
    color: rgb(9, 2, 56);
    font-family: 'Fira Code', monospace;
    text-align: center;
    padding-bottom: 20px;
}

.project-div p{
    text-align: center;
    color:  rgb(82, 16, 0);
}

/* End Design Project Section */

/* Start Design Work Inquiry */

.work-inquiry-section{
    background-color: white;
    padding: 70px 40px 40px 30px;
}

.work-inquiry-section div{
    margin: auto;
    width: 726px;
    height: 225px;
    padding: 0px 20px;
    background-image: url(../images/inquery_bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.work-inquiry-section h1{
    color: white;
    font-size: 30px;
    display: inline-block;
    margin-top: 70px;
    height: 100%;
    margin-right: 260px;
}

/* End Design Work Inquiry */
#contact-section{
    padding: 20px;
    text-align: center;
    margin-bottom: 45 ;
}

#contact-section h4{
    font-size: 15px;
    margin-bottom: 5px;
    color: #696871;
}

#contact-section h3{
    font-size: 26px;
    color:  rgb(9, 2, 56);
    margin-bottom: 5px;
}

#contact-section div div{
    display: inline-block;
    width: 30px;
    margin: 20px 10px;
}

#contact-section div div img{
    width: 100%;
    cursor: pointer;
}
/* Start Design Contact Section */

/* Start Design Skill Section */

#skill-section{
    min-height: 300px;
    height: 80vh;
    max-height: 400px ;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 0px;
}

.skill{
    margin-bottom: 10px;
}

.skill h2{
    width: 50px;
    font-size: 20px;
    color: rgb(29, 19, 88);
}

.skill-name{
    margin-right: 12px;
}
.skill-scale{
    width: 200px;
    height: 20px;
    border-left: rgb(231, 78, 78);
}

.skill-scale div{
    height: 100%;
    background-color: rgb(211, 77, 104);
}

#html{
    width: 180px;
}

#css{
    width: 140px;
}

#js{
    width: 120px; 
}

#react{
    width: 40px;
}

.skill-scale,.skill h2{
    display: inline-block;
}

/* End Design Skill Section */

/* Start Design Form Section */

#form-section{
    min-height: 320px;
    height: 80vh;
    max-height: 350px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 0px;
}

#email{
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 5px;
    border: 1px solid rgb(255, 163, 140);
    color: rgb(9, 2, 56);
    font-size: 15px;
    border-radius: 6px;
}

input:focus, textarea{
    outline: none;
}

#message{
    width: 95%;
    height: 100px;
    resize: none;
    padding: 5px;
    border: 1px solid rgb(255, 163, 140);
    color: rgb(9, 2, 56);
    font-size: 15px;
    border-radius: 6px;
    overflow: auto;
}

/* End Design Form Section */